<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"
    ><img src="../../assets/logo.ico" height="35px" width="35px" /> Hospital
    Management System</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="name != null" class="nav-link">Patients</a>
      </li>
      <li class="nav-item">
        <a
          *ngIf="name != null"
          class="nav-link"
          style="cursor: pointer;"
          (click)="showdoctor()"
          >Doctors</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="name != null" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ name }}
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
      <!-- <li *ngIf="name!=null" style="float:right"><a class="active mr-sm-2"><img src="https://img.icons8.com/offices/30/000000/user.png"> {{name}}</a> -->
    </ul>
  </div>
</nav>
