<div style="background-color: white; padding: 20px; border-radius: 8px;">
  <div class="row">
    <div class="col-md-12">
      <h1><i class="fas fa-user-md"></i> Create Doctor </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="CreateForm">
        {{CreateForm.status}}
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            id="username"
            placeholder="username"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            [formControl]="password"
            class="form-control"
            placeholder="Password"
          />
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-danger">
        <div *ngIf="form.password.hasError('passworderror')">
          password cannot be same as username.
        </div>
      <div *ngIf="password.errors.required">
        password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 8 characters long.
      </div>
    </div>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
            placeholder="First Name"
          />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
            placeholder="Last Name"
          />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            formControlName="age"
            class="form-control"
            id="age"
            placeholder="Age"
          />
        </div>
        <div class="form-group">
          <label for="doctorSpecialisation">Specialisation</label>
          <input
            type="text"
            class="form-control"
            id="doctorSpecialisation"
            formControlName="doctorSpecialisation"
            placeholder="Specialisation"
          />
        </div>
        <div class="form-group">
          <label for="experience">Experience</label>
          <input
            type="number"
            class="form-control"
            formControlName="experience"
            id="experience"
            placeholder="Experience"
          />
        </div>
        <button (click)="create()" class="btn btn-primary" [disabled]="!CreateForm.valid">Create</button>
      </form>
      <div *ngIf="createStatus" class="alert alert-success alert-dismissible fade show" role="alert">Create Success!<button type="button" (click)="updateStatus=false;"class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button></div>
    </div>
  </div>
</div>
