<br />
<form class="card card-sm">
  <div class="card-body row no-gutters align-items-center">
    <div class="col-auto">
      <i class="fas fa-search"></i>
    </div>
    <div class="col">
      <input
        class="form-control"
        name="search"
        [(ngModel)]="filterText"
        type="search"
        placeholder="Search Doctor"
      />
    </div>
    <!--end of col-->
    <div class="col-auto">
      <button class="btn btn-success" (click)="filter()" type="submit">
        Search
      </button>
    </div>
    <!--end of col-->
  </div>
</form>
<hr />
<div class="row" style="overflow-y:auto; height: 400px;">
  <div class="col-md-12">
    <div *ngIf="errBlock" class="alert alert-danger">{{errorMsg}}</div>
    <a
      (click)="onSelected(doctor)"
      class="list-group-item clearfix"
      style="cursor: pointer;"
      *ngFor="let doctor of doctors"
    >
      <span class="col-md-4" style="float:left;"
        ><img
          src="../../assets/image.png"
          alt="{{ doctor.name }}"
          class="img-responsive"
          style="max-height: 70px;"
      /></span>
      <div class="pull-left" style="display:inline-block;color:black;">
        <h4 class="list-group-item-heading">{{ doctor.firstName }}</h4>
        <p class="list-group-item-text">{{ doctor.doctorSpecialisation }}</p>
      </div>
      <span style="float:right;">
        <button (click)="deleteDoctor(doctor)" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i>
        </button>
      </span>
    </a>
  </div>
</div>
